section{
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 8px 7px 12px 3px rgba(0,0,0,0.6);
    padding: 1.5rem;
    margin: 20px;
}
main{
    display: grid;
    grid-template-areas: 
    "select select select"
    "article article article"
    "pag pag pag";
    text-align: center;
    margin-top: 30px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.article{
    grid-area: article;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
}

.box{
    width: 300px;
    height: 35px;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 20px;
    border-radius: 20px;
}

.button{
    width: 75px;
    float: left;
    border-radius: 17px;
}

.name{
    font-size: 20pt;
}

.status{
    font-size: 15pt;
}

.pagination{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
}

.article_pagination{
    grid-area: pag;
    justify-content: center;
}

.article_select{
    grid-area: select;
}